{% extends "layout.twig" %}

{% block content %}
    <header class="bk-header">
    {% if pages|length > 1 %}
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        {% endif %}
        <div class="logo">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
        <div class="companyheader wrapper clearfix">
            <div class="header-left">
                {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
            </div>
            <div class="header-center">
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            <div class="header-right">
                {{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
            </div>
        </div>       
    </header>

        <div class="menu-container">
             <div class="wrapper clearfix">
                    {{widget('menusections', 'menusections1', {})|raw}}
            </div>
        </div>
        <div class="wrapper clearfix">
            <div class="canvas">
                <div class="canvas1">
                    {{zone('main')|raw}}
                    <div class="footer-text">
                        {{widget('content', 'footercolumn2content', {"content":"<p>100% FRESH FOOD</p>"})|raw}}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
